.navbar-brand {
    background: rgb(44, 184, 184);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}
#main { 
    background: url(https://wallpapercave.com/wp/wp5149772.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%; 
    height: 100vh;
    padding-top: 60px;
  }

  .card-header {
    background: white;
    color: rgb(44, 184, 184);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}


.my-pic {
  width: 200px;
  height: 200px;
  padding-right: 20px;
  float: left;
  margin-top: 5px;
}

.btn {
  background-color:rgb(44, 184, 184); 
  border: none;
}

.portfolio {
  font-size: 30px;
}
.italy {
  width: 125px;
  height: 125px;
  float: left;
}

.brussels {
  width: 125px;
  height: 125px;
  float: left;
}

.madrid {
  width: 125px;
  height: 125px;
  float: left;
  padding-top: 25px;
}


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: lightslategray;
    text-align: center;
    height: 50px;
    border-top: rgb(44, 184, 184) solid 5px;
  }

  @media only screen and (max-width: 768px) {
    .portfolio-card {
      width: 50%;
    }
  }